/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.asteroid {

  height: 50px;
  width: 50px;
  animation: rotate 1s linear infinite;
  transform-origin:50% 50%;
}

.board {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  background-color: 'black';
  color: 'white';
}

@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}